"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "tester-go"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "d7b0d1ef-ca08-3931-30a3-87c68875c5a0"
  "git-plus":
    splitPane: "Up"
    wordDiff: false
  "highlight-selected": {}
  jshint:
    validateOnlyOnSave: true
  "terminal-plus":
    core:
      shell: "/bin/zsh"
    style:
      theme: "novel"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
