"*":
  core:
    disabledPackages: [
      "linter"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    showInvisibles: true
  "exception-reporting":
    userId: "c904e87f-e4ae-432b-9e5e-860206846f5d"
  "go-plus":
    test:
      runTestsOnSave: false
  welcome:
    showOnStartup: false
